body {

    background-color: #1967AD;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    text-align: center;
    font-family: Calibri, sans-serif;
    color :white;
}

.reportbutton{
display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700; /* Yellow background color */
    color: #fff; /* White text color */
    font-family: Calibri, sans-serif; /* Use Poppins font */
    font-weight: bold; /* Bold text */
    text-decoration: none;
    font-size: 18px;
    border-radius: 60px; /* This creates a round shape */
    transition: background-color 0.3s;
    position: absolute;
    top: 20%;
    left: 1%;
}

.reportButton{
display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700; /* Yellow background color */
    color: #fff; /* White text color */
    font-family: Calibri, sans-serif; /* Use Poppins font */
    font-weight: bold; /* Bold text */
    text-decoration: none;
    font-size: 18px;
    border-radius: 60px; /* This creates a round shape */
    transition: background-color 0.3s;
    position: absolute;

}
#report1Button{

    top: 20%;
    left: 45%;
}

#report2Button{

    top: 40%;
    left: 45%;
}

#report3Button{

    top: 60%;
    left: 45%;
}


.duplicate{
display: inline-block;
    padding: 15px 30px;
    background-color: #FFD700; /* Yellow background color */
    color: #fff; /* White text color */
    font-family: Calibri, sans-serif; /* Use Poppins font */
    font-weight: bold; /* Bold text */
    text-decoration: none;
    font-size: 18px;
    border-radius: 60px; /* This creates a round shape */
    transition: background-color 0.3s;
    position: absolute;
    top: 20%;
    left: 60%;
}
.error-message {
    color: white;
    position: absolute;
    top: 70%;

}

.success-message{
   color: white;
   position: absolute;
   top: 70%;
   font-family: Calibri, sans-serif;
}
has context menu