<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Third Report</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/reportStyle.css}" href="../static/css/reportStyle.css" />
    <style>
        /* Hide buttons in PDF */
        @media print {
            #Download-Link,
            #Go-Back-Link,
            input[type="text"] {
                display: none !important;
            }

            body, html, #capture-area {
                width: 100% !important;
                margin: 0 !important;
                padding: 0 !important;
            }

            /* Page Break Rules */
            .page-break {
                page-break-before: always;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                page-break-inside: auto;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            /* Repeat table header on each page */
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }
        }
    </style>
</head>
<body>
<a href="#" id="Download-Link">Download The Report</a>
<a href="#" id="Go-Back-Link">Go Back</a>
<h1>Credit Analysis: DPD and Asset Classification Summary</h1>
<h2>Credit Type Split Table</h2>
<table>
    <thead>
    <tr>
        <th>
            <input type="text" id="filterInputCreditType" placeholder="Filter by Credit Type" onkeyup="filterTableCreditType()">
        </th>
        <th th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and #lists.size(ThirdReportData1[0]) > 0}" th:text="${ThirdReportData1[0][0]}"></th>
        <th th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and #lists.size(ThirdReportData2[0]) > 0}" th:text="${ThirdReportData2[0][0]}"></th>
        <th th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and #lists.size(ThirdReportData3[0]) > 0}" th:text="${ThirdReportData3[0][0]}"></th>
        <th th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and #lists.size(ThirdReportData4[0]) > 0}" th:text="${ThirdReportData4[0][0]}"></th>
        <th th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and #lists.size(ThirdReportData5[0]) > 0}" th:text="${ThirdReportData5[0][0]}"></th>
        <th th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and #lists.size(ThirdReportData6[0]) > 0}" th:text="${ThirdReportData6[0][0]}"></th>
    </tr>
    </thead>
    <tbody id="tableBodyCreditType">
    <tr th:each="creditType, iterStat : ${creditTypes}">
        <th th:text="${creditType}"></th>

        <td th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData1[0])}"
            th:text="${ThirdReportData1[0][iterStat.index + 1]}"></td>

        <td th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData2[0])}"
            th:text="${ThirdReportData2[0][iterStat.index + 1]}"></td>

        <td th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData3[0])}"
            th:text="${ThirdReportData3[0][iterStat.index + 1]}"></td>

        <td th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData4[0])}"
            th:text="${ThirdReportData4[0][iterStat.index + 1]}"></td>

        <td th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData5[0])}"
            th:text="${ThirdReportData5[0][iterStat.index + 1]}"></td>

        <td th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData6[0])}"
            th:text="${ThirdReportData6[0][iterStat.index + 1]}"></td>
    </tr>
    </tbody>
</table>

<h2>Account status Split Table</h2>
<table>
    <tr>
        <th>Account status Split</th>
        <th th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and #lists.size(ThirdReportData1[0]) > 0}" th:text="${ThirdReportData1[0][0]}"></th>
        <th th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and #lists.size(ThirdReportData2[0]) > 0}" th:text="${ThirdReportData2[0][0]}"></th>
        <th th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and #lists.size(ThirdReportData3[0]) > 0}" th:text="${ThirdReportData3[0][0]}"></th>
        <th th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and #lists.size(ThirdReportData4[0]) > 0}" th:text="${ThirdReportData4[0][0]}"></th>
        <th th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and #lists.size(ThirdReportData5[0]) > 0}" th:text="${ThirdReportData5[0][0]}"></th>
        <th th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and #lists.size(ThirdReportData6[0]) > 0}" th:text="${ThirdReportData6[0][0]}"></th>
    </tr>
    <tr th:each="status, iterStat : ${accountStatus}">
        <th th:text="${status}"></th>

        <td th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData1[0])}"
            th:text="${ThirdReportData1[0][iterStat.index + 59]}"></td>

        <td th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData2[0])}"
            th:text="${ThirdReportData2[0][iterStat.index + 59]}"></td>

        <td th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData3[0])}"
            th:text="${ThirdReportData3[0][iterStat.index + 59]}"></td>

        <td th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData4[0])}"
            th:text="${ThirdReportData4[0][iterStat.index + 59]}"></td>

        <td th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData5[0])}"
            th:text="${ThirdReportData5[0][iterStat.index + 59]}"></td>

        <td th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData6[0])}"
            th:text="${ThirdReportData6[0][iterStat.index + 59]}"></td>
    </tr>
</table>

<h2>Major reasons for Restructuring</h2>
<table>
    <tr>
        <th>Major reasons for Restructuring</th>
        <th th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and #lists.size(ThirdReportData1[0]) > 0}" th:text="${ThirdReportData1[0][0]}"></th>
        <th th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and #lists.size(ThirdReportData2[0]) > 0}" th:text="${ThirdReportData2[0][0]}"></th>
        <th th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and #lists.size(ThirdReportData3[0]) > 0}" th:text="${ThirdReportData3[0][0]}"></th>
        <th th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and #lists.size(ThirdReportData4[0]) > 0}" th:text="${ThirdReportData4[0][0]}"></th>
        <th th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and #lists.size(ThirdReportData5[0]) > 0}" th:text="${ThirdReportData5[0][0]}"></th>
        <th th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and #lists.size(ThirdReportData6[0]) > 0}" th:text="${ThirdReportData6[0][0]}"></th>
    </tr>

    <tr th:each="reasons, iterStat : ${Majorreasons}">
        <th th:text="${reasons}"></th>

        <td th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData1[0])}"
            th:text="${ThirdReportData1[0][iterStat.index + 71]}"></td>

        <td th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData2[0])}"
            th:text="${ThirdReportData2[0][iterStat.index + 71]}"></td>

        <td th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData3[0])}"
            th:text="${ThirdReportData3[0][iterStat.index + 71]}"></td>

        <td th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData4[0])}"
            th:text="${ThirdReportData4[0][iterStat.index + 71]}"></td>

        <td th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData5[0])}"
            th:text="${ThirdReportData5[0][iterStat.index + 71]}"></td>

        <td th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData6[0])}"
            th:text="${ThirdReportData6[0][iterStat.index + 71]}"></td>
    </tr>
</table>

<h2>Asset Classification/DPD</h2>
<table>
    <tr>
        <th>Asset Classification/DPD</th>
        <th th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and #lists.size(ThirdReportData1[0]) > 0}" th:text="${ThirdReportData1[0][0]}"></th>
        <th th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and #lists.size(ThirdReportData2[0]) > 0}" th:text="${ThirdReportData2[0][0]}"></th>
        <th th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and #lists.size(ThirdReportData3[0]) > 0}" th:text="${ThirdReportData3[0][0]}"></th>
        <th th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and #lists.size(ThirdReportData4[0]) > 0}" th:text="${ThirdReportData4[0][0]}"></th>
        <th th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and #lists.size(ThirdReportData5[0]) > 0}" th:text="${ThirdReportData5[0][0]}"></th>
        <th th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and #lists.size(ThirdReportData6[0]) > 0}" th:text="${ThirdReportData6[0][0]}"></th>
    </tr>
    <tr th:each="ass, iterStat : ${assetclass}">
        <th th:text="${ass}"></th>
        <td th:if="${AssetClassDPD1 != null and #lists.size(AssetClassDPD1) > 0 and iterStat.index < #lists.size(AssetClassDPD1[0])}"
            th:text="${AssetClassDPD1[0][iterStat.index]}"></td>

        <td th:if="${AssetClassDPD2 != null and #lists.size(AssetClassDPD2) > 0 and iterStat.index < #lists.size(AssetClassDPD2[0])}"
            th:text="${AssetClassDPD2[0][iterStat.index]}"></td>

        <td th:if="${AssetClassDPD3 != null and #lists.size(AssetClassDPD3) > 0 and iterStat.index < #lists.size(AssetClassDPD3[0])}"
            th:text="${AssetClassDPD3[0][iterStat.index]}"></td>

        <td th:if="${AssetClassDPD4 != null and #lists.size(AssetClassDPD4) > 0 and iterStat.index < #lists.size(AssetClassDPD4[0])}"
            th:text="${AssetClassDPD4[0][iterStat.index]}"></td>

        <td th:if="${AssetClassDPD5 != null and #lists.size(AssetClassDPD5) > 0 and iterStat.index < #lists.size(AssetClassDPD5[0])}"
            th:text="${AssetClassDPD5[0][iterStat.index]}"></td>

        <td th:if="${AssetClassDPD6 != null and #lists.size(AssetClassDPD6) > 0 and iterStat.index < #lists.size(AssetClassDPD6[0])}"
            th:text="${AssetClassDPD6[0][iterStat.index]}"></td>
    </tr>
</table>

<h2>DPD/asset classification Distribution on Credit Type</h2>

    <table>
        <thead>
        <tr>
            <th>
                <input type="text" id="filterInputDPDAssetCreditType" placeholder="Filter by row name" onkeyup="filterTableDPDAssetCreditType()">
            </th>

            <th>Sub-Category</th>
            <th th:each="rowData: ${ThirdReportData1}" th:text="${rowData[0]}"></th>
            <th th:each="rowData: ${ThirdReportData2}" th:text="${rowData[0]}"></th>
            <th th:each="rowData: ${ThirdReportData3}" th:text="${rowData[0]}"></th>
            <th th:each="rowData: ${ThirdReportData4}" th:text="${rowData[0]}"></th>
            <th th:each="rowData: ${ThirdReportData5}" th:text="${rowData[0]}"></th>
            <th th:each="rowData: ${ThirdReportData6}" th:text="${rowData[0]}"></th>
        </tr>
        </tr>
        </thead>

        <tbody id="tableBodyDPDAssetCreditType">
        <!-- Iterate through credit types -->
        <tr th:each="creditType, creditTypeStat : ${creditTypes}">
            <th th:text="${creditType}"></th>
            <td>
                <!-- Sub-categories table -->
                <table>
                    <tr th:each="category : ${assetclass}">
                        <td th:text="${category}"></td>
                    </tr>
                </table>
            </td>
            <!-- Data table for each category -->
            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData1)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData1}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>

            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData2)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData2}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>

            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData3)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData3}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>
            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData4)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData4}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>

            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData5)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData5}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>

            <div th:if="!${#lists.isEmpty(ThirdCredTypeAssDpdData6)}">
                <td>
                    <table>
                        <tr th:each="category, categoryStat : ${assetclass}">

                            <td th:each="rowData : ${ThirdCredTypeAssDpdData6}"
                                th:text="${rowData[creditTypeStat.index * 17 + categoryStat.index]}"></td>
                        </tr>
                    </table>

                </td>
            </div>

        </tr>

        </tbody>
    </table>

<h2>Suit Filed and wilful default Status</h2>
<table>
    <tr>
        <th>Suit Filed and wilful default Status</th>
        <th th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and #lists.size(ThirdReportData1[0]) > 0}" th:text="${ThirdReportData1[0][0]}"></th>
        <th th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and #lists.size(ThirdReportData2[0]) > 0}" th:text="${ThirdReportData2[0][0]}"></th>
        <th th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and #lists.size(ThirdReportData3[0]) > 0}" th:text="${ThirdReportData3[0][0]}"></th>
        <th th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and #lists.size(ThirdReportData4[0]) > 0}" th:text="${ThirdReportData4[0][0]}"></th>
        <th th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and #lists.size(ThirdReportData5[0]) > 0}" th:text="${ThirdReportData5[0][0]}"></th>
        <th th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and #lists.size(ThirdReportData6[0]) > 0}" th:text="${ThirdReportData6[0][0]}"></th>
    </tr>

    <tr th:each="suitstatus, iterStat : ${SuitFiledwilfuldefaultStatus}">
        <th th:text="${suitstatus}"></th>

        <td th:if="${ThirdReportData1 != null and #lists.size(ThirdReportData1) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData1[0])}"
            th:text="${ThirdReportData1[0][iterStat.index + 75]}"></td>

        <td th:if="${ThirdReportData2 != null and #lists.size(ThirdReportData2) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData2[0])}"
            th:text="${ThirdReportData2[0][iterStat.index + 75]}"></td>

        <td th:if="${ThirdReportData3 != null and #lists.size(ThirdReportData3) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData3[0])}"
            th:text="${ThirdReportData3[0][iterStat.index + 75]}"></td>

        <td th:if="${ThirdReportData4 != null and #lists.size(ThirdReportData4) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData4[0])}"
            th:text="${ThirdReportData4[0][iterStat.index + 75]}"></td>

        <td th:if="${ThirdReportData5 != null and #lists.size(ThirdReportData5) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData5[0])}"
            th:text="${ThirdReportData5[0][iterStat.index + 75]}"></td>

        <td th:if="${ThirdReportData6 != null and #lists.size(ThirdReportData6) > 0 and iterStat.index + 1 < #lists.size(ThirdReportData6[0])}"
            th:text="${ThirdReportData6[0][iterStat.index + 75]}"></td>
    </tr>

</table>

<!-- Include the latest html2canvas library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- Include the latest jsPDF library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script>
    document.getElementById("Download-Link").addEventListener("click", function () {
        window.print();
    });

    // Filter ONLY header rows (<th>) for Credit Type table
function filterTableCreditType() {
    var filterText = document.getElementById('filterInputCreditType').value.toLowerCase();
    var tableBody = document.getElementById('tableBodyCreditType');
    var tableRows = tableBody.getElementsByTagName('tr');

    for (var i = 0; i < tableRows.length; i++) {
        var headerCell = tableRows[i].getElementsByTagName('th')[0]; // Filter only on TH
        if (headerCell) {
            var cellTextValue = headerCell.textContent.toLowerCase();
            tableRows[i].style.display = cellTextValue.startsWith(filterText) ? '' : 'none';
        }
    }
}


// Group filtering for DPD Asset Credit Type table
function filterTableDPDAssetCreditType() {
    var filterText = document.getElementById('filterInputDPDAssetCreditType').value.toLowerCase();
    var tableBody = document.getElementById('tableBodyDPDAssetCreditType');
    var tableRows = tableBody.getElementsByTagName('tr');

    var showGroup = false;

    for (var i = 0; i < tableRows.length; i++) {
        var headerCell = tableRows[i].getElementsByTagName('th')[0];

        if (headerCell) {
            // Check if this header matches the filter
            var headerText = headerCell.textContent.toLowerCase();
            showGroup = headerText.startsWith(filterText);
            tableRows[i].style.display = showGroup ? '' : 'none';
        } else {
            // Show child only when related header is shown
            tableRows[i].style.display = showGroup ? '' : 'none';
        }
    }
}

    document.getElementById('Go-Back-Link').addEventListener('click', function() {
             // Redirect to home page when Home button is clicked
             window.location.href ="select-report";
         });

</script>
</body>
</html>
