<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Arth Data Solutions - Consumer</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style1.css}" href="../static/css/style1.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="header">
      <img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="Your Logo">
    </div>
    <div id="content">
      <h1>Arth Data Solutions - Commercial</h1>
      <h3>Reporting | Analytics | Consulting</h3>
        <p>Welcome to Arth Data Solutions, where we redefine the landscape of data management and analytics for financial institutions in India. As leaders in the field, we specialize in data reporting, analytics and consulting, offering tailored strategies to optimize processes and stay ahead of regulatory changes.</p>
        <p>Our flagship solution, an innovative Data Reporting Tool, is designed to streamline data submissions to Credit Information Companies (CICs) and Regulatory Bodies, in strict accordance with RBI guidelines.</p>
    </div>
    <div id="button-container">
      <a class="next-button" th:href="@{/csv_to_db}">Lets Start</a>
    </div>
 </body>

</html>